.innerWrapper {
    position: relative;
}

.outerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
}

.zoomWrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 3;
}

.zoomCanvas {
    position: absolute;
    top: 0; 
    left: 0;
}

.zoomImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    object-fit: none;
}

.deleteButton {
    background-color: red;
    color: white;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.zoomLevel {
    margin-right: 16px;
}